$cprimary: #3ca936;
$csecondary: #f5af19;

$tema1: (
  $cprimary: #c33764,
  $csecondary: #1d2671,
);

$tema2: (
  $cprimary: #43c6ac,
  $csecondary: #191654,
);

$tema3: (
  $cprimary: #b92b27,
  $csecondary: #1565c0,
);

$tema4: (
  $cprimary: #f12711,
  $csecondary: #f5af19,
);

$color_fondo_item: #01579b;
$color_hover_item: #e94d33;
